body
{
    direction: rtl;
    background-image: url(../imges/תמונה\ 1.webp);
    background-size: cover;
    height: 1000px;
    text-align: center;
    background-attachment: fixed;
}
.container
{
    display: flex;
    flex-direction: column; 
    justify-content: center;
}
header
{
    direction: rtl;
    height: 30%;
    background-repeat: no-repeat;
    background-color: black;

}

header img
{
   width: 40%;
   display: flex;
   flex-direction: row;
}
nav
{
    height: 10%;
    background-color: white;
    margin-top: 1%;
      display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
    font-weight: bold;
} 
a
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: black;
    margin: 1%;
    font-size: 150%;
    margin-right: 4%;
    padding-left: 2%;
    padding-right: 2%;
}
.a:hover
{
    
    border: 0px black solid;
    background-color: rgb(197, 13, 13);
    opacity: 0.7;
    color: white;
}
section
{
    height: 70%;
}
form
{
    border-radius: 2%;
    height: 50%;
    width: 30%;
    background-color: white;
    opacity: 0.5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    margin-right: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}
input
{
    height: 20%;
    border: none;
    border-bottom: 1px black solid;
}
p
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: xx-large;
    font-weight: bold;
}
footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 5%;  
    width: 100%;
    height: 20%;
    background-color: black;
    opacity: 0.7;
}
#sub
{
    height: 40%;
    font-weight: bold;
    border: 1px black solid;
}
aside
{
    
    margin-top: 3%;
}
aside a
{

    color: white;
    height: 5%;
    width: 6%;
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: xx-large;
    opacity: 0.6;
    border: none;
    padding: 1%;
    margin: 3%;
}
aside a:hover
{
    background-color: rgb(238, 39, 39);
}